{% import "_macros" as macros %}

{% extends "_layouts/layout.twig" %}

{% set headline = entry.title %}
{% set mainImage = entry.mainImage.eagerly().one() %}
{% set claim = entry.headline %}
{% set text = entry.textEntryTypes %}
{% set teamMembers = entry.projectTeamMembers %}
{% set licenses = entry.projectLicenses %}
{% set fundingAmount = entry.projectFundingAmount %}
{% set fundingStatus = macros.fundingStatus(entry) %}

{% block content %}
  <article class="mb-10 last:mb-0">
    {% include "_modules/headers/project" with {
      entry
    } only %}

    {% if (teamMembers|length) or (licenses|length) or (fundingAmount|length) %}
      <div class="mt-5 grid px-2 md:mt-10 md:grid-cols-16 md:px-5">
        <h2 class="font-surt text-head-24 mb-5 md:hidden">
          {{ "About the project"|t }}
        </h2>

        <div
          class="border-gray border-b pb-5 md:col-span-11 md:col-start-6 md:border-none md:pb-0 lg:col-span-9 lg:col-start-8 dark:border-gray-500"
        >
          {% if teamMembers|length %}
            <div
              class="border-gray mb-4 border-t pt-1 last:mb-0 md:mb-5 dark:border-gray-500"
            >
              <h4
                class="text-head-14 md:text-head-16 dark:text-gray mb-1 text-gray-600 uppercase md:mb-2"
              >
                {{ "Team Members"|t }}
              </h4>

              <p class="text-body-18 md:text-body-20">
                {{ teamMembers }}
              </p>
            </div>
          {% endif %}

          {% if licenses|length %}
            <div
              class="border-gray mb-4 border-t pt-1 last:mb-0 md:mb-5 dark:border-gray-500"
            >
              <h4
                class="text-head-14 md:text-head-16 dark:text-gray mb-1 text-gray-600 uppercase md:mb-2"
              >
                {{ (licenses|length) > 1 ? "Licenses"|t : "License"|t }}
              </h4>

              <p class="text-body-18 md:text-body-20">
                {{ licenses|join(", ") }}
              </p>
            </div>
          {% endif %}

          {% if fundingAmount|length %}
            <div
              class="border-gray mb-4 border-t pt-1 last:mb-0 md:mb-5 dark:border-gray-500"
            >
              <h4
                class="text-head-14 md:text-head-16 dark:text-gray mb-1 text-gray-600"
              >
                {{ "Funding Amount"|t }}
              </h4>

              <p class="text-body-18 md:text-body-20">
                {{ fundingAmount }}
              </p>
            </div>
          {% endif %}

          {% if fundingStatus|length %}
            {% set category =
              entry.projectRounds.one()|default(entry.projectYearGroups.one())
            %}
            {% set startDate = category.startDate|default(null) %}
            {% set endDateRegular = category.endDateRegular|default(null) %}
            {% set endDateSecondStage =
              category.endDateSecondStage|default(null)
            %}

            <div
              class="border-gray mb-4 border-t pt-1 last:mb-0 md:mb-5 dark:border-gray-500"
            >
              <h4
                class="text-head-14 md:text-head-16 dark:text-gray mb-1 text-gray-600 uppercase md:mb-2"
              >
                {{ "Funding Period"|t }}
              </h4>

              <p class="text-body-18 md:text-body-20">
                {% switch fundingStatus %}
                  {% case "inDuration" %}
                    {{
                      "In funding since {startDate}"|t(
                        params: {
                          startDate: startDate|date("d/m/Y")
                        }
                      )
                    }}
                  {% case "completed" %}
                    {{ startDate|date("d/m/Y") }} – {{
                      endDateRegular|date("d/m/Y")
                    }}
                  {% case "inDurationWithSecondStage" %}
                    {{
                      "In funding since {startDate}, currently in Second Stage"|t(
                        params: {
                          startDate: startDate|date("d/m/Y")
                        }
                      )
                    }}
                  {% case "completedWithSecondStage" %}
                    {{
                      "{startDate} –  {endDateSecondStage} (incl. Second Stage)"|t(
                        params: {
                          startDate: startDate|date("d/m/Y"),
                          endDateSecondStage: endDateSecondStage|date("d/m/Y")
                        }
                      )
                    }}
                {% endswitch %}
              </p>
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}

    {% if text|length %}
      <div class="mt-5 md:mt-10">
        {% include "_rich-text/columns" with {
          text
        } only %}
      </div>
    {% endif %}
  </article>

  {% include "_modules/modules" with {
    entry: entry
  } %}
  {% include "projects/_modules/next-reads" with {
    entry: entry
  } only %}
{% endblock %}
