{% extends "_layouts/layout.twig" %}

{% set headline = entry.title %}
{% set mainImage = entry.mainImage.eagerly().one() %}
{% set claim = entry.claim %}
{% set text = entry.text %}
{% set rounds = entry.projectRounds.all() %}
{% set teamMembers = entry.projectTeamMembers %}
{% set topics = entry.projectTopics.eagerly().all() %}
{% set technologies = entry.projectTechnologies.eagerly().all() %}
{% set links = entry.projectLinks %}
{% set status = entry.projectStatus[0].label %}


{% block content %}
  <article class="max-w-4xl mx-auto px-2 md:px-4 lg:px-6 pb-2 md:pb-4 lg:pb-6 mt-6">
    <header class="mb-4">
      {% include "_rich-text/standard" with { text: "<h1>#{headline}</h1>" } only %}
      {% include "_rich-text/standard" with { text: "<p>#{claim}</p>" } only %}
    </header>

    {% include "_rich-text/standard" with { text: text } only %}

    <aside class="my-4">
      <p>{{ "Project Status: {status}"|t({"status": status}) }}</p>
      <p>Rounds: {{ rounds|join(", ") }}</p>
      <p>Topics: {{ topics|join(", ") }}</p>
      <p>Technologies: {{ technologies|join(", ") }}</p>
    </aside>

    {% if teamMembers|length %}
      <p class="my-4">
        <strong>{{ "Team Members"|t }}:</strong> {{teamMembers}}
      </p>
    {% endif %}

    {% if links|length %}
      <p class="my-4">
        <strong>{{ "Links"|t }}:</strong>
        <ul class="list-disc">
          {% for link in links %}
            <li>
              <a class="text-link" href={{link.linkURL}}>{{ link.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </p>
    {% endif %}

    {% if mainImage %}
      <div class="my-4">
        {% include "_modules/figure" with { image: mainImage, size: "textCol" } only %}
      </div>
    {% endif %}

  </article>
{% endblock %}
