{% extends "_layouts/layout.twig" %}

{% set params = craft.customQueryStringParser.getQueryParams() %}
{% set yearGroupParams =
  craft.customQueryStringParser.getQueryParam("year-group")
%}
{% set roundParams = craft.customQueryStringParser.getQueryParam("round") %}
{% set topicParams = craft.customQueryStringParser.getQueryParam("topic") %}
{% set technologyParams =
  craft.customQueryStringParser.getQueryParam("technology")
%}
{% set licenseParams = craft.customQueryStringParser.getQueryParam("license") %}
{% set inFundingParam = "inFunding"
  in craft.customQueryStringParser.getQueryParam("status")
%}

{% set projectsQuery = craft.entries.section("projects") %}

{% if inFundingParam|length %}
  {% set projectsWithoutSecondStage =
    craft.entries.section("projects").with(
      ["projectRounds", "projectYearGroups"]
    ).relatedTo({
      targetElement: craft.categories().group(
        ["projectRounds", "projectYearGroups"]
      ).endDateRegular(
        [">= " ~ (now|date("Y-m-d"))]
      )
    }).all()
  %}

  {% set projectsWithSecondStage =
    craft.entries.section("projects").with(
      ["projectRounds", "projectYearGroups"]
    ).secondStage(
      true
    ).relatedTo({
      targetElement: craft.categories().group(
        ["projectRounds", "projectYearGroups"]
      ).endDateRegular(
        ["< " ~ (now|date("Y-m-d"))]
      ).endDateSecondStage(
        [">= " ~ (now|date("Y-m-d"))]
      )
    }).all()
  %}

  {% set uniqueIds =
    projectsWithSecondStage
      |merge(projectsWithoutSecondStage)
      |map(project => project.id)
      |unique
      |values
  %}

  {% set projectsQuery = projectsQuery.id(uniqueIds) %}
{% endif %}

{% set relations = [] %}

{% if yearGroupParams|length %}
  {% set relations =
    relations|merge(
      [
        {
          targetElement: craft.categories.group("projectYearGroups").slug(
            yearGroupParams
          )
        }
      ]
    )
  %}
{% endif %}

{% if roundParams|length %}
  {% set relations =
    relations|merge(
      [
        {
          targetElement: craft.categories.group("projectRounds").slug(
            roundParams
          )
        }
      ]
    )
  %}
{% endif %}

{% if topicParams|length %}
  {% set relations =
    relations|merge(
      [
        {
          targetElement: craft.categories.group("projectTopics").slug(
            topicParams
          )
        }
      ]
    )
  %}
{% endif %}

{% if technologyParams|length %}
  {% set relations =
    relations|merge(
      [
        {
          targetElement: craft.categories.group("projectTechnologies").slug(
            technologyParams
          )
        }
      ]
    )
  %}
{% endif %}

{% if licenseParams|length %}
  {% set relations =
    relations|merge(
      [
        {
          targetElement: craft.categories.group("projectLicenses").slug(
            licenseParams
          )
        }
      ]
    )
  %}
{% endif %}

{% if relations|length %}
  {% set projectsQuery = projectsQuery.relatedTo(["and"]|merge(relations)) %}
{% endif %}

{% set projectsQuery =
  projectsQuery.with(
    [
      "projectYearGroups",
      "projectRounds",
      "projectTopics",
      "projectTechnologies",
      "projectLicenses"
    ]
  ).orderBy(
    "title ASC"
  ).limit(
    20
  )
%}

{% paginate projectsQuery as pagination, projects %}

{% block content %}
  {% include "_modules/headers/simple" with {
    headline: entry.headline|default(entry.title),
    intro: entry.intro,
    secondaryText: entry.secondaryText,
    link: entry.genericLink,
    background: entry.headerBackground.value,
    alignment: entry.headerAlignment.value
  } only %}

  {% set title %}
    <h2 class="font-surt text-head-20 md:text-head-24">
      {{ params|length ? "Matching Projects"|t : "All Projects"|t }}
      <span class="text-rich-blue dark:text-sky-blue">
        [{{ projectsQuery.count() }}]
      </span>
    </h2>
  {% endset %}

  <div
    id="list"
    class="mt-5 mb-10 px-2 md:mt-9 md:grid md:grid-cols-12 md:px-5 lg:grid-cols-16"
  >
    <div class="relative md:col-span-3 lg:col-span-4">
      <div class="md:hidden">
        {{ title }}
      </div>
      {% include "projects/_modules/project-filters" only %}
    </div>

    <div class="md:col-span-12 md:col-start-5 lg:col-span-11 lg:col-start-6">
      <div class="mb-[30px] md:mb-5 md:flex md:items-center">
        <div class="hidden md:block">
          {{ title }}
        </div>

        {% if params|length %}
          <div class="ml-auto hidden md:block">
            {% include "projects/_modules/reset-filters" only %}
          </div>
        {% endif %}
      </div>

      {% if projects|length %}
        {% for project in projects %}
          {{ project.render() }}
        {% endfor %}

        {% include "_modules/pagination-projects" with {
          pagination,
          params
        } only %}
      {% else %}
        <div class="border-gray mb-5 border-t pt-2.5 dark:border-gray-500">
          <p class="text-body-20">
            {{ "No projects found."|t }}
          </p>
        </div>
      {% endif %}
    </div>
  </div>

  {% include "_modules/modules" with {
    entry: entry
  } %}
{% endblock %}
