{% extends "_layouts/layout.twig" %}

{% set queryString = craft.app.request.queryString %}
{% set params = {} %}

{% if queryString %}
  {% for pair in queryString|split("&") %}
    {% if pair %}
      {% set parts = pair|split("=") %}
      {% set key = parts[0] %}

      {% if key != "p" %}
        {% set value = parts[1] is defined ? parts[1] : null %}

        {% if params[key] is defined %}
          {% set params =
            params|merge({
              (key): params[key]|merge([value])
            })
          %}
        {% else %}
          {% set params =
            params|merge({
              (key): [value]
            })
          %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}

{% set projectsQuery = craft.entries.section("projects") %}

{% set yearGroupParams = params["year-group"]|default([]) %}
{% set roundParams = params["round"]|default([]) %}
{% set topicParams = params["topic"]|default([]) %}
{% set technologyParams = params["technology"]|default([]) %}
{% set licenseParams = params["license"]|default([]) %}
{% set inFundingParam =
  (craft.app.request.getParam("status") == "inFunding")|default(false)
%}

{% if inFundingParam|length %}
  {% set projectsWithoutSecondStage =
    craft.entries.section("projects").with(
      ["projectRounds", "projectYearGroups"]
    ).relatedTo({
      targetElement: craft.categories().group(
        ["projectRounds", "projectYearGroups"]
      ).endDateRegular(
        [">= " ~ (now|date("Y-m-d"))]
      )
    }).all()
  %}

  {% set projectsWithSecondStage =
    craft.entries.section("projects").with(
      ["projectRounds", "projectYearGroups"]
    ).secondStage(
      true
    ).relatedTo({
      targetElement: craft.categories().group(
        ["projectRounds", "projectYearGroups"]
      ).endDateRegular(
        ["< " ~ (now|date("Y-m-d"))]
      ).endDateSecondStage(
        [">= " ~ (now|date("Y-m-d"))]
      )
    }).all()
  %}

  {% set uniqueIds =
    projectsWithSecondStage
      |merge(projectsWithoutSecondStage)
      |map(project => project.id)
      |unique
      |values
  %}

  {% set projectsQuery = projectsQuery.id(uniqueIds) %}
{% endif %}

{% set relations = [] %}

{% if yearGroupParams|length %}
  {% set relations =
    relations|merge(
      [
        {
          targetElement: craft.categories.group("projectYearGroups").slug(
            yearGroupParams
          )
        }
      ]
    )
  %}
{% endif %}

{% if roundParams|length %}
  {% set relations =
    relations|merge(
      [
        {
          targetElement: craft.categories.group("projectRounds").slug(
            roundParams
          )
        }
      ]
    )
  %}
{% endif %}

{% if topicParams|length %}
  {% set relations =
    relations|merge(
      [
        {
          targetElement: craft.categories.group("projectTopics").slug(
            topicParams
          )
        }
      ]
    )
  %}
{% endif %}

{% if technologyParams|length %}
  {% set relations =
    relations|merge(
      [
        {
          targetElement: craft.categories.group("projectTechnologies").slug(
            technologyParams
          )
        }
      ]
    )
  %}
{% endif %}

{% if licenseParams|length %}
  {% set relations =
    relations|merge(
      [
        {
          targetElement: craft.categories.group("projectLicenses").slug(
            licenseParams
          )
        }
      ]
    )
  %}
{% endif %}

{% if relations|length %}
  {% set projectsQuery = projectsQuery.relatedTo(["and"]|merge(relations)) %}
{% endif %}

{% set projectsQuery =
  projectsQuery.with(
    [
      "projectYearGroups",
      "projectRounds",
      "projectTopics",
      "projectTechnologies",
      "projectLicenses"
    ]
  ).orderBy(
    "title ASC"
  ).limit(
    20
  )
%}

{% paginate projectsQuery as pagination, projects %}

{% set yearGroups = craft.categories.group("projectYearGroups").all() %}
{% set rounds = craft.categories.group("projectRounds").all() %}
{% set topics = craft.categories.group("projectTopics").all() %}
{% set technologies = craft.categories.group("projectTechnologies").all() %}
{% set licenses = craft.categories.group("projectLicenses").all() %}

{% block content %}
  {% include "_modules/headers/simple" with {
    headline: entry.headline|default(entry.title),
    intro: entry.intro,
    secondaryText: entry.secondaryText,
    link: entry.genericLink,
    background: entry.headerBackground.value,
    alignment: entry.headerAlignment.value
  } only %}

  <div
    id="list"
    class="mt-5 mb-10 px-2 md:mt-9 md:grid md:grid-cols-12 md:px-5 lg:grid-cols-16"
  >
    <div class="hidden md:col-span-3 md:block lg:col-span-4">
      <h2 class="font-surt text-head-24 mb-5">{{ "Filter projects"|t }}</h2>

      <div class="border-gray mb-4 border-t pt-[10px] dark:border-gray-500">
        <h3
          class="md:text-body-16 mb-2 text-[15px] text-gray-600 uppercase dark:text-white"
        >
          {{ "Funding status"|t }}
        </h3>

        {% include "projects/_modules/checkbox-filter" with {
          key: "status",
          value: "inFunding",
          text: "Only show currently funded projects"|t,
          params
        } only %}
      </div>

      {% if yearGroups|length %}
        <div class="border-gray mb-4 border-t pt-[10px] dark:border-gray-500">
          <h3
            class="md:text-body-16 mb-2 text-[15px] text-gray-600 uppercase dark:text-white"
          >
            {{ "Year Groups (from 2025)"|t }}
          </h3>

          {% include "projects/_modules/categories-filter" with {
            key: "year-group",
            categories: yearGroups,
            params
          } only %}
        </div>
      {% endif %}

      {% if rounds|length %}
        <div class="border-gray mb-4 border-t pt-[10px] dark:border-gray-500">
          <h3
            class="md:text-body-16 mb-2 text-[15px] text-gray-600 uppercase dark:text-white"
          >
            {{ "Rounds (2016 – 2025)"|t }}
          </h3>

          {% include "projects/_modules/categories-filter" with {
            key: "round",
            categories: rounds,
            params
          } only %}
        </div>
      {% endif %}

      {% if topics|length %}
        <div class="border-gray mb-4 border-t pt-[10px] dark:border-gray-500">
          <h3
            class="md:text-body-16 mb-2 text-[15px] text-gray-600 uppercase dark:text-white"
          >
            {{ "Topics"|t }}
          </h3>

          {% include "projects/_modules/categories-filter" with {
            key: "topic",
            categories: topics,
            params
          } only %}
        </div>
      {% endif %}

      {% if technologies|length %}
        <div class="border-gray mb-4 border-t pt-[10px] dark:border-gray-500">
          <h3
            class="md:text-body-16 mb-2 text-[15px] text-gray-600 uppercase dark:text-white"
          >
            {{ "Technologies"|t }}
          </h3>

          {% include "projects/_modules/categories-filter" with {
            key: "technology",
            categories: technologies,
            params
          } only %}
        </div>
      {% endif %}

      {% if licenses|length %}
        <div class="border-gray mb-4 border-t pt-[10px] dark:border-gray-500">
          <h3
            class="md:text-body-16 mb-2 text-[15px] text-gray-600 uppercase dark:text-white"
          >
            {{ "Licenses"|t }}
          </h3>

          {% include "projects/_modules/categories-filter" with {
            key: "license",
            categories: licenses,
            params
          } only %}
        </div>
      {% endif %}
    </div>

    <div class="md:col-span-12 md:col-start-5 lg:col-span-11 lg:col-start-6">
      <div class="mb-[30px] md:mb-5 md:flex md:items-center">
        <h2 class="font-surt text-head-20 md:text-head-24">
          {{ params|length ? "Matching Projects"|t : "All Projects"|t }}
          <span class="text-rich-blue dark:text-sky-blue">
            [{{ projectsQuery.count() }}]
          </span>
        </h2>

        {% if params|length %}
          <div class="ml-auto hidden md:block">
            <a
              class="text-ui-16 after:bg-close dark:after:bg-close-white flex items-center gap-[10px] uppercase after:block after:h-[18px] after:w-[18px] after:bg-center after:bg-no-repeat after:content-['']"
              href="{{ "/" ~ craft.app.request.pathInfo }}"
            >
              {{ "Reset filters"|t }}
            </a>
          </div>
        {% endif %}
      </div>

      {% if projects|length %}
        {% for project in projects %}
          {{ project.render() }}
        {% endfor %}

        {% include "_modules/pagination-projects" with {
          pagination,
          params
        } only %}
      {% else %}
        <div class="border-gray mb-5 border-t pt-2.5 dark:border-gray-500">
          <p class="text-body-20">
            {{ "No projects found."|t }}
          </p>
        </div>
      {% endif %}
    </div>
  </div>

  {% include "_modules/modules" with {
    entry: entry
  } %}
{% endblock %}
