{% extends "_layouts/layout.twig" %}

{% set queryString = craft.app.request.queryString %}
{% set params = {} %}

{% if queryString %}
  {% for pair in queryString|split('&') %}
    {% if pair %}
      {% set parts = pair|split('=') %}
      {% set key = parts[0] %}
      {% set value = parts[1] is defined ? parts[1] : null %}

      {% if params[key] is defined %}
        {% set params = params|merge({ (key): params[key]|merge([value]) }) %}
      {% else %}
        {% set params = params|merge({ (key): [value] }) %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}

{% set projectsQuery = craft.entries.section("projects") %}

{% if params|length %}
  {% set statusParams = params["status"]|default([]) %}
  {% set yearGroupParams = params["year-group"]|default([]) %}
  {% set roundParams = params["round"]|default([]) %}
  {% set topicParams = params["topic"]|default([]) %}
  {% set technologyParams = params["technology"]|default([]) %}

  {% set relationParams = [] %}

  {% if yearGroupParams|length %}
    {% set relationParams = relationParams|merge([
      { targetElement: craft.categories.group('projectYearGroups').slug(yearGroupParams) }
    ]) %}
  {% endif %}

  {% if roundParams|length %}
    {% set relationParams = relationParams|merge([
      { targetElement: craft.categories.group('projectRounds').slug(roundParams) }
    ]) %}
  {% endif %}

  {% if topicParams|length %}
    {% set relationParams = relationParams|merge([
      { targetElement: craft.categories.group('projectTopics').slug(topicParams) }
    ]) %}
  {% endif %}

  {% if technologyParams|length %}
    {% set relationParams = relationParams|merge([
      { targetElement: craft.categories.group('projectTechnologies').slug(technologyParams) }
    ]) %}
  {% endif %}

  {% if statusParams|length %}
    {% set projectsQuery = projectsQuery.projectStatus(statusParams) %}
  {% endif %}

  {% if relationParams|length %}
    {% set projectsQuery = projectsQuery.relatedTo(['or']|merge(relationParams)) %}
  {% endif %}
{% endif %}

{% set projectsQuery = projectsQuery
  .with([
    'projectYearGroups',
    'projectRounds',
    'projectTopics',
    'projectTechnologies'
  ])
  .limit(20)
%}

{% paginate projectsQuery as pagination, projects %}

{% block content %}
  {{ projectsQuery.count() }}

  {% include "_modules/header" with {
    headline: entry.headline|default(entry.title),
    intro: entry.intro,
    link: entry.genericLink,
    background: entry.headerBackground.value
  } only %}

  <div id="list" class="mt-10 md:mt-9 mb-5 px-2 md:px-5">
    <div class="mb-4 pt-[10px] border-gray-400 border-t">
      <h3 class="text-body-14 uppercase mb-2">
        {{ "Funding status"|t }}
      </h3>

      <a href="?status=inUsage">{{ "Show in funding only"|t }}</a>

      {% include "_modules/projects-checkbox" with {
        key: "status",
        value: "inUsage",
        params,
      } only %}
    </div>

    <div class="mb-4 pt-[10px] border-gray-400 border-t">
      <h3 class="text-body-14 uppercase mb-2">
        {{ "Year Groups (from 2025)"|t }}
      </h3>

      {% include "_modules/projects-filter" with {
        key: "year-group",
        categories: craft.categories.group("projectYearGroups").all(),
        params,
      } only %}
    </div>

    <div class="mb-4 pt-[10px] border-gray-400 border-t">
      <h3 class="text-body-14 uppercase mb-2">
        {{ "Rounds (2016 – 2025)"|t }}
      </h3>

      {% include "_modules/projects-filter" with {
        key: "round",
        categories: craft.categories.group("projectRounds").all(),
        params,
      } only %}
    </div>

    <div class="mb-4 pt-[10px] border-gray-400 border-t">
      <h3 class="text-body-14 uppercase mb-2">
        {{ "Topics"|t }}
      </h3>

      {% include "_modules/projects-filter" with {
        key: "topic",
        categories: craft.categories.group("projectTopics").all(),
        params,
      } only %}
    </div>

    <div class="mb-4 pt-[10px] border-gray-400 border-t">
      <h3 class="text-body-14 uppercase mb-2">
        {{ "Technologies"|t }}
      </h3>

      {% include "_modules/projects-filter" with {
        key: "technology",
        categories: craft.categories.group("projectTechnologies").all(),
        params,
      } only %}
    </div>
  </div>

  <div class="max-w-4xl mx-auto px-2 md:px-4 lg:px-6 pb-2 md:pb-4 lg:pb-6 mt-6">
    {% include "_rich-text/standard" with { text: "<h1>#{'Our projects'|t}</h1>" } only %}
    <div class="my-4">
      {% if projects|length %}
        {% include "projects/_modules/teasers-list" with { projects: projects } only %}
      {% else %}
        {% include "_rich-text/standard" with { text: "<p>#{'No entries yet. Create some in the CMS!'|t}</p>" } only %}
      {% endif %}
    </div>
    {% include "_modules/pagination" with {
      pagination,
      params
    } only %}
  </div>
{% endblock %}
