{% import "_macros" as macros %}

{% set location = entry.location %}
{% set teaserText = entry.teaserText %}
{% set image = entry.mainImage.eagerly().one() %}

<article
  class="border-gray border-0 border-t pt-1 md:py-6 md:pt-3 md:last:border-b dark:border-gray-500"
>
  <a href="{{ entry.url }}">
    <div class="group md:grid md:grid-cols-16">
      <div class="mb-4 md:col-span-4 md:mb-0 md:pr-4">
        <div class="mb-1 md:mb-1.5">
          {% include "_modules/date-time" with {
            date: entry.date,
            startTime: entry.startTime,
            endTime: entry.endTime
          } only %}
        </div>

        {% if location|length %}
          <p class="dark:text-gray text-gray-600">
            {{ location }}
          </p>
        {% endif %}
      </div>

      <div class="mb-3 md:col-span-7 md:mb-0 md:pr-4">
        <h4
          class="group-hover:decoration-sky-blue font-surt text-head-22 md:text-head-28 mb-1 uppercase group-hover:underline md:mb-3"
        >
          {{ entry.title }}
        </h4>

        {% if teaserText|length %}
          {% include "_rich-text/simple" with {
            text: teaserText
          } only %}
        {% endif %}
      </div>

      <div class="col-span-4 col-start-13 mb-5 md:mb-0">
        <div class="aspect-3/2 overflow-hidden">
          {% if image|length %}
            <img
              class="block h-full w-full object-cover transition-transform ease-in-out group-hover:scale-105"
              src="{{ image.getUrl("w800__3_2") }}"
              srcSet="{{ macros.srcSetThreeByTwo(image) }}"
              alt="{{ image.alt }}"
              loading="lazy"
            />
          {% else %}
            <img
              class="block h-full w-full object-cover transition-transform group-hover:scale-110 dark:hidden"
              src="/static/images/patterns/event-fallback-pattern.svg"
              loading="lazy"
            />
            <img
              class="hidden h-full w-full object-cover transition-transform group-hover:scale-110 dark:block"
              src="/static/images/patterns/event-fallback-pattern-dark.svg"
              loading="lazy"
            />
          {% endif %}
        </div>
      </div>
    </div>
  </a>
</article>
