{% import "_macros" as macros %}

{% set image = entry.mainImage.eagerly().one() %}
{% set claim = entry.headline %}
{% set teamMembers = entry.projectTeamMembers %}

{% set categories =
  entry.projectRounds.all()
    |merge(entry.projectTopics.all())
    |merge(entry.projectTechnologies.all())
    |merge(entry.projectYearGroups.all())
%}

<article class="border-gray mb-4 border-t md:mb-5 dark:border-gray-600">
  <a class="block pt-2 md:pt-2.5" href="{{ entry.getUrl() }}">
    <div class="group grid grid-cols-11">
      <div class="col-span-2 mr-2 md:mr-3.5">
        {% if image|length %}
          <div
            class="flex aspect-square items-center justify-center bg-gray-100 p-[20px]"
          >
            <div class="w-full mix-blend-multiply">
              <img
                class="h-full w-full object-contain"
                src="{{ image.url }}"
                alt="{{ image.alt }}"
              />
            </div>
          </div>
        {% else %}
          <div class="aspect-square">
            <img
              class="block h-full w-full object-cover"
              src="/static/images/patterns/project-fallback-pattern.svg"
            />
          </div>
        {% endif %}
      </div>

      <div class="col-span-9">
        {% if macros.inFunding(entry)|boolean %}
          <div class="mb-1 md:mb-2">
            {% include "_modules/pill" with {
              text: "In Funding"|t
            } only %}
          </div>
        {% endif %}

        <div class="mb-1 last:mb-0 md:mb-1.5">
          <h4
            class="font-surt text-head-16 md:text-head-22 group-hover:decoration-sky-blue inline tracking-[0.03em] uppercase group-hover:underline"
          >
            <span class="text-rich-blue dark:text-sky-blue">
              {{ entry.title }}
            </span>{% if claim|length %}
              : {{ claim }}
            {% endif %}
          </h4>
        </div>

        {% if teamMembers|length %}
          <div class="text-body-12 md:text-body-14 mb-2 last:mb-0 md:mb-2.5">
            {{ teamMembers }}
          </div>
        {% endif %}

        {% if categories|length %}
          {% include "_modules/categories-list" with {
            categories
          } only %}
        {% endif %}
      </div>
    </div>
  </a>
</article>
