{% set postDate = entry.postDate %}
{% set dateUpdated = entry.dateUpdated %}
{% set teaserText = entry.teaserText %}

{% set pattern =
  [
    "after:bg-pattern-br-gray-3",
    "after:bottom-0",
    "after:bg-right-bottom",
    "after:w-[30vw]",
    "after:md:w-[13vw]",
    "after:lg:w-[17vw]",
    "after:xl:w-[11vw]"
  ]|join(" ")
%}

<a
  class="group block {{
  pattern
  }} relative ml-[-16px] w-[calc(100%+32px)] border-t border-gray-600 pt-4 pb-4 after:absolute after:right-0 after:h-full after:bg-contain after:bg-no-repeat after:content-[''] last:border-b md:ml-[-40px] md:w-[calc(100%+80px)] md:pt-3 md:pb-5"
  href="{{ entry.url }}"
>
  <div class="px-2 md:grid md:grid-cols-16 md:px-5">
    <div class="relative z-1 md:col-span-5">
      <h4
        class="font-surt text-head-16 md:text-head-22 mb-[10px] break-words uppercase last:mb-0 md:mb-2.5"
      >
        {{ entry.title }}
      </h4>

      <div class="mb-3 md:mb-0">
        <time
          class="text-body-14 md:text-body-16 block text-gray-800"
          datetime="{{ postDate|date("Y-m-d") }}"
        >
          {{ "Published on"|t }}: {{ postDate|date("d/m/Y") }}
        </time>

        <time
          class="text-body-14 md:text-body-16 mb-3 block text-gray-800"
          datetime="{{ dateUpdated|date("Y-m-d") }}"
        >
          {{ "Last updated"|t }}: {{ dateUpdated|date("d/m/Y") }}
        </time>
      </div>
    </div>

    <div
      class="relative z-1 mb-5 md:col-span-9 md:col-start-7 lg:col-span-7 lg:col-start-7 xl:mb-0"
    >
      {% if teaserText|length %}
        {% include "_rich-text/simple" with {
          text: teaserText
        } only %}
      {% endif %}
    </div>

    <div
      class="relative z-1 md:col-span-9 md:col-start-7 lg:col-span-7 lg:col-start-7 xl:col-span-3 xl:col-start-14 xl:text-right"
    >
      {% include "_modules/button" with {
        text: "View report"|t,
        icon: "arrow",
        iconAlignment: "right",
        color: "dark"
      } only %}
    </div>
  </div>
</a>
