{% import "_macros" as macros %}

{% set context = context|default("web") %}
{% set people = module.people %}

{% set web %}
  {% if people|length %}
    <div class="border-gray mb-10 border-y last:mb-0 dark:border-gray-500">
      {% for person in people %}
        {% set image = person.avatar.eagerly().one() %}
        {% set website = person.website %}
        {% set email = person.email %}
        {% set links = person.links|map(link => link.genericLink) %}

        {% if email %}
          {% set links =
            [
              {
                label: "Email"|t,
                url: "mailto:#{email}"
              }
            ]|merge(links)
          %}
        {% endif %}

        <div
          class="not-first:border-gray grid grid-cols-1 not-first:border-t md:min-h-[470px] md:grid-cols-16 md:px-5 dark:border-gray-500"
        >
          <div
            class="px-2 pt-12 pb-6 md:col-span-8 md:px-0 md:py-10 md:pr-7 xl:pr-12"
          >
            {% include "_modules/person-info" with {
              person: person
            } only %}
          </div>

          <div
            class="md:border-gray relative flex flex-col md:col-span-7 md:col-start-10 md:border-x dark:md:border-gray-500"
          >
            <div class="md:h-full md:w-full">
              {% if image|length %}
                <img
                  class="block aspect-3/2 h-full w-full object-cover md:aspect-auto"
                  src="{{ image.getUrl("w1600__5_4") }}"
                  srcSet="{{ macros.srcSetFiveByFour(image) }}"
                  alt="{{ image.alt }}"
                />
              {% else %}
                <div
                  class="aspect-3/2 bg-gray-100 md:aspect-auto md:h-full dark:bg-gray-800"
                ></div>
              {% endif %}
            </div>

            {% if links|length %}
              <div
                class="mb-[-1px] md:absolute md:bottom-[-1px] md:left-[-1px] md:mb-0 md:w-[calc(100%+2px)]"
              >
                {% include "_modules/button-links" with {
                  links: links,
                  layout: "flex"
                } only %}
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endset %}

{% set rss %}
  {% for person in people %}
    {% set image = person.avatar.eagerly().one() %}
    {% set website = person.website %}
    {% set email = person.email %}
    {% set links = person.links|map(link => link.genericLink) %}

    {% if email %}
      {% set links =
        [
          {
            label: "Email"|t,
            url: "mailto:#{email}"
          }
        ]|merge(links)
      %}
    {% endif %}

    {% include "_modules/person-info" with {
      person: person
    } only %}

    {% if image|length %}
      <img src="{{ image.getUrl("w1600__4_3") }}" alt="{{ image.alt }}" />
    {% endif %}
  {% endfor %}
{% endset %}

{% switch context %}
  {% case "rss" %}
    {{ rss }}
  {% default %}
    {{ web }}
{% endswitch %}
