{% import "_macros" as macros %}

{% set context = context|default("web") %}
{% set heading = module.title %}
{% set description = module.description %}
{% set publications = module.publications %}

{% set web %}
  <div class="mb-10 md:px-5">
    <h4
      class="font-surt text-head-22 md:text-head-32 mb-3 px-2 md:mb-5 md:max-w-2/5 md:px-0"
    >
      {{ heading }}
    </h4>

    <div class="md:grid md:grid-cols-16">
      {% if description|length %}
        <div class="mb-5 px-2 md:col-span-5 md:mb-0 md:px-0">
          {% include "_rich-text/simple" with {
            text: description,
            size: "medium"
          } only %}
        </div>
      {% endif %}

      {% for item in publications %}
        {% set publication = item.publication.eagerly().one() %}
        {% set image = item.publicationCover.eagerly().one() %}
        {% set subheading = item.subheading %}

        <a
          class="group border-gray block border-t px-2 pt-2 pb-4 last:mb-0 last:border-b md:col-span-10 md:col-start-7 md:grid md:grid-cols-10 md:px-0 lg:col-start-7 dark:border-gray-500"
          href="{{ publication.url }}"
        >
          <div class="mb-3 flex gap-3 md:col-span-9 lg:col-span-7 xl:mb-0">
            {% if (image|length) and (publication|length) %}
              <div class="block flex-shrink-0" href="{{ publication.url }}">
                <img
                  class="block w-[84px] md:w-[84px]"
                  src="{{ image.getUrl("w800") }}"
                  srcSet="{{ macros.srcSet(image) }}"
                  alt="{{ image.alt }}"
                />
              </div>
            {% endif %}

            <div>
              <h4
                class="font-surt text-head-16 md:text-head-20 mb-1 leading-[1.3]"
              >
                {{ item.title }}
              </h4>

              {% if subheading|length %}
                <p
                  class="text-body-12 md:text-body-14 dark:text-gray text-gray-600"
                >
                  {{ subheading }}
                </p>
              {% endif %}
            </div>
          </div>

          {% if publication|length %}
            <div
              class="text-right md:col-span-9 md:col-start-1 md:text-left xl:col-span-3 xl:text-right"
            >
              {% include "_modules/button" with {
                text: "Open PDF"|t,
                icon: "arrow",
                iconAlignment: "right"
              } only %}
            </div>
          {% endif %}
        </a>
      {% endfor %}
    </div>
  </div>
{% endset %}

{% set rss %}
  <h2>{{ heading }}</h2>
  {% if description|length %}
    {% include "_rich-text/simple" with {
      text: description,
      size: "medium"
    } only %}
  {% endif %}
  {% for item in publications %}
    {% set publication = item.publication.eagerly().one() %}
    {% set image = item.publicationCover.eagerly().one() %}
    {% set subheading = item.subheading %}

    {% if (image|length) and (publication|length) %}
      <img src="{{ image.getUrl("w800") }}" alt="{{ image.alt }}" />
    {% endif %}

    <h3>{{ item.title }}</h3>

    {% if subheading|length %}
      <p>
        {{ subheading }}
      </p>
    {% endif %}

    {% if publication|length %}
      <a href="{{ publication.url }}">{{ "Open PDF"|t }}</a>
    {% endif %}
  {% endfor %}
{% endset %}

{% switch context %}
  {% case "rss" %}
    {{ rss }}
  {% default %}
    {{ web }}
{% endswitch %}
