{% extends "_layouts/layout.twig" %}

{% set yearGroups = craft.categories.group("projectYearGroups").all() %}

{% block content %}
  {% include "_modules/headers/simple" with {
    headline: entry.headline|default(entry.title),
    intro: entry.intro,
    secondaryText: entry.secondaryText,
    link: entry.genericLink,
    background: entry.headerBackground.value,
    alignment: entry.headerAlignment.value
  } only %}

  <div class="mt-10">
    {% for yearGroup in yearGroups %}
      {% set projects =
        craft.entries.section("projects").relatedTo(yearGroup).limit(4)
      %}

      {% set currentDate = now %}
      {% set startDate = yearGroup.startDate|default(null) %}
      {% set endDateRegular = yearGroup.endDateRegular|default(null) %}
      {% set endDateSecondStage = yearGroup.endDateSecondStage|default(null) %}

      <div class="mb-5 border-b border-gray-600 md:mb-10 dark:border-[#575757]">
        <div class="mb-10 grid px-2 md:grid-cols-16 md:items-start md:px-5">
          <div
            class="mb-2.5 md:sticky md:top-[1em] md:col-span-4 md:mb-0 lg:col-span-6"
          >
            <h2 class="font-surt text-body-22 md:text-body-32">
              {{ yearGroup.title }}
            </h2>
          </div>
          <div
            class="md:col-span-11 md:col-start-6 lg:col-span-9 lg:col-start-8"
          >
            <div
              class="border-b border-gray-600 pb-5 md:col-span-11 md:col-start-6 md:border-none md:pb-0 lg:col-span-9 lg:col-start-8 dark:border-[#575757]"
            >
              {% if startDate and (endDateRegular or endDateSecondStage) %}
                {% set endDate = endDateRegular
                  ? endDateRegular
                  : endDateSecondStage
                %}
                <div
                  class="mb-4 border-t border-gray-600 pt-1 last:mb-0 md:mb-5 dark:border-[#575757]"
                >
                  <h4
                    class="text-head-14 md:text-head-16 mb-1 text-gray-800 uppercase md:mb-2 dark:text-gray-600"
                  >
                    Funded Phase
                  </h4>

                  <p class="text-body-18 md:text-body-20">
                    {{ startDate|date("d/m/Y") }} – {{ endDate|date("d/m/Y") }}
                  </p>
                </div>
              {% endif %}

              <div
                class="mb-4 border-t border-gray-600 pt-1 last:mb-0 md:mb-5 dark:border-[#575757]"
              >
                <h4
                  class="text-head-14 md:text-head-16 mb-1 text-gray-800 uppercase md:mb-2 dark:text-gray-600"
                >
                  {{ "Number of projects"|t }}
                </h4>

                <p class="text-body-18 md:text-body-20">
                  {{ projects|length }}
                </p>
              </div>
            </div>
          </div>
        </div>

        {% if projects|length %}
          {% set content %}
            {% include "projects/_modules/teasers-list" with {
              projects: projects
            } %}
          {% endset %}

          {% include "_modules/next-reads" with {
            heading: "Projects from " ~ yearGroup.title,
            sideLink: {
              text: "See all"|t,
              url: yearGroup.url
            },
            content: content
          } only %}
        {% endif %}
      </div>
    {% endfor %}

    {% include "_modules/modules" with {
      entry: entry
    } %}
  </div>
{% endblock %}
