{% extends "_layouts/layout.twig" %}

{% set intro = entry.intro %}
{% set postDate = entry.postDate %}
{% set dateUpdated = entry.dateUpdated %}
{% set text = entry.textEntryTypes %}

{% block content %}
  {% set content %}
    <time
      class="text-body-18 md:text-body-20 dark:text-gray block text-gray-600"
      datetime="{{ postDate|date("Y-m-d") }}"
    >
      {{ "Published on"|t }}: {{ postDate|date("d/m/Y") }}
    </time>

    <time
      class="text-body-18 md:text-body-20 dark:text-gray block text-gray-600"
      datetime="{{ dateUpdated|date("Y-m-d") }}"
    >
      {{ "Last updated"|t }}: {{ dateUpdated|date("d/m/Y") }}
    </time>
  {% endset %}

  <article class="mb-10 last:mb-0">
    {% include "_modules/headers/simple" with {
      headline: entry.headline|default(entry.title),
      subheadline: content|raw,
      link: entry.genericLink,
      background: entry.headerBackground.value
    } only %}

    {% if intro|length %}
      <div class="mt-5 mb-[60px] grid px-2 md:mt-10 md:grid-cols-16 md:px-5">
        <div class="md:col-span-11 md:col-start-6 lg:col-span-8 lg:col-start-8">
          {% include "_rich-text/intro" with {
            text: intro
          } only %}
        </div>
      </div>
    {% endif %}

    {% if text|length %}
      <div class="mt-5 md:mt-10">
        {% include "_rich-text/columns" with {
          text
        } only %}
      </div>
    {% endif %}
  </article>

  {% include "_modules/modules" with {
    entry: entry
  } only %}
{% endblock %}
