{% set layout = layout|default("flex") %}

{% set layoutStyles = {
  flex: "flex flex-wrap [&>*]:w-1/2 [&>*]:last:odd:w-full",
  grid: "grid grid-cols-2"
} %}

<ul class="{{ layoutStyles[layout] }}">
  {% for link in links %}
    {% set target = link.target|default("_self") %}

    <li
      class="border-r border-b border-gray-600 bg-white first:border-t first:border-gray-600 odd:border-l [&:nth-child(2)]:border-t [&:nth-child(2)]:border-gray-600"
    >
      <a
        class="group after:bg-link-arrow flex items-center gap-1.5 px-2 py-1.5 text-base transition-colors after:ml-auto after:block after:h-2.5 after:w-2.5 after:bg-cover after:bg-no-repeat after:content-[''] hover:bg-gray-100 md:py-[14px] md:text-[17px]"
        href="{{ link.url }}"
        target="{{ target }}"
        {{ target == "_blank" ? 'rel="noopener noreferrer"' }}
      >
        <span class="group-hover:decoration-sky-blue group-hover:underline">
          {{ link.label }}
        </span>
      </a>
    </li>
  {% endfor %}
</ul>
