{% set layout = layout|default("flex") %}

{% set layoutStyles = {
  flex: "flex flex-wrap [&>*]:w-1/2 [&>*]:last:odd:w-full",
  grid: "grid grid-cols-2"
} %}

<ul class="{{ layoutStyles[layout] }}">
  {% for link in links %}
    {% set target = link.target|default("_self") %}

    <li
      class="border-gray first:border-gray [&:nth-child(2)]:border-gray border-r border-b bg-white first:border-t odd:border-l dark:border-gray-600 [&:nth-child(2)]:border-t"
    >
      <a
        class="group after:bg-link-arrow dark:after:bg-link-arrow-white flex items-center gap-1.5 px-2 py-1.5 text-base transition-colors after:ml-auto after:block after:h-2.5 after:w-2.5 after:bg-cover after:bg-no-repeat after:content-[''] hover:bg-gray-100 md:py-[14px] md:text-[17px] dark:bg-gray-900 dark:hover:bg-gray-800"
        href="{{ link.url }}"
        target="{{ target }}"
        {{ target == "_blank" ? 'rel="noopener noreferrer"' }}
      >
        <span class="group-hover:decoration-sky-blue group-hover:underline">
          {{ link.label }}
        </span>
      </a>
    </li>
  {% endfor %}
</ul>
