{% set layout = layout|default("flex") %}

{% set layoutStyles = {
  flex: "flex flex-wrap [&>*]:w-1/2 [&>*]:last:odd:w-full",
  grid: "grid grid-cols-2"
} %}

<ul class="{{ layoutStyles[layout] }}">
  {% for link in links %}
    {% set target = link.target|default("_self") %}

    <li class="bg-white border-gray-600 border-b border-r odd:border-l first:border-t first:border-gray-600 [&:nth-child(2)]:border-t [&:nth-child(2)]:border-gray-600">
      <a
        class="group flex items-center gap-1.5 text-base md:text-[17px] px-2 py-1.5 md:py-[14px] hover:bg-gray-100 transition-colors after:ml-auto after:bg-link-arrow after:bg-no-repeat after:bg-cover after:content-[''] after:block after:h-2.5 after:w-2.5"
        href="{{ link.url }}"
        target="{{ target }}"
        {{ target == '_blank' ? 'rel="noopener noreferrer"' }}
      >
        <span class="group-hover:underline group-hover:decoration-sky-blue">{{ link.label }}</span>
      </a>
    </li>
  {% endfor %}
</ul>