{% set footerDescription = footer.footerDescription %}
{% set mainFooterLinks = footer.mainFooterLinks.all() %}
{% set secondaryFooterLinks = footer.secondaryFooterLinks.all() %}
{% set newsletterHeadline = footer.newsletterHeadline|default(newsletter.newsletterHeadline) %}
{% set newsletterSecondaryText = footer.newsletterSecondaryText|default(newsletter.newsletterSecondaryText) %}
{% set sponsorsHeadline = footer.sponsorsHeadline %}
{% set sponsors = footer.sponsors.all() %}

<footer class="bg-gray-100 mt-[60px] md:mt-18">
  <div class="md:grid md:grid-cols-3 border-gray-600 border-t border-b">
    <div class="pt-5 px-2 md:px-3 pb-2.5 md:pb-3 border-gray-600 md:border-r last:md:border-r-0">
      <a class="inline-block mb-3 last:mb-0" href="{{ homepage.url  }}">
        <svg width="56" height="70" viewBox="0 0 138 168" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M16.089 0H111.973L137.049 46.6227L116.058 83.3858L100.442 97.5827L62.2412 104.659L62.2412 135.172L75.8407 140.81V154.836L59.7517 168H0V153.476L13.5995 142.35V33.2715L0 27.6333V13.1637L16.089 0ZM72.8432 152.627H18.1228V142.813L31.7222 137.174V18.8941L18.1228 13.2559V2.99754H110.182L133.622 46.5793L113.903 81.1144L76.124 89.3631H59.2437L59.2437 137.174L72.8432 142.813V152.627ZM75.9371 15.1752L100.922 27.4067L109.701 46.5396L100.938 62.9006L75.9163 76.4946L59.2437 72.7498V18.999L75.9371 15.1752ZM86.656 67.2485L91.2286 58.8077L83.5184 42.0039L62.2412 31.5876V70.3508L75.4746 73.3232L86.656 67.2485Z" fill="black"/>
        </svg>
      </a>
  
      {% include "_rich-text/simple" with {
        text: footerDescription
      } only %}
    </div>

    <div class="pt-2.5 md:pt-5 pb-2.5 md:pb-3 border-gray-600 border-t md:border-t-0 md:border-r last:md:border-r-0">
      <h4 class="px-2 md:px-3 pb-2 md:pb-3 uppercase text-body-16">{{ newsletterHeadline }}</h4>

      <div class="mb-2.5">
        {% include "_modules/newsletter-form" only %}
      </div>

      <div class="px-2 md:px-3">
        {% include "_rich-text/simple" with {
          text: newsletterSecondaryText,
          size: "small"
        } only %}
      </div>
    </div>

    {% if sponsorsHeadline|length or sponsors|length %}
      <div class="flex p-2 md:p-3 border-gray-600 border-t md:border-t-0 md:border-r last:md:border-r-0">
        <div class="mt-auto">
          {% if sponsorsHeadline|length %}
            <h4 class="mb-3 last:mb-0 text-body-14">{{ sponsorsHeadline }}</h4>
          {% endif %}

          {% if sponsors|length %}
            <div class="flex flex-wrap gap-x-[44px] gap-y-1.5">
              {% for sponsor in sponsors %}
                <img src="{{ sponsor.url }}" alt="{{ sponsor.alt }}">
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>

  {% if mainFooterLinks|length %}
    <div class="md:grid md:grid-cols-3 text-body-16 md:text-body-18 border-b border-gray-600">
      {% for linkGroup in mainFooterLinks %}
        {% set links = linkGroup.links %}

        {% if links|length %}
          <ul class="p-2 md:p-3 border-gray-600 border-t first:border-t-0 md:border-t-0 md:border-r last:md:border-r-0">
            {% for link in links %}
              {% set navLink = link.genericLink %}
              {% set isExternal = navLink.type == "url" %}

              {% if navLink.label %}
                <li class="py-[4px] mb-[6px] md:py-0 md:mb-1 last:mb-0">
                  <a
                    class="relative flex after:ml-auto {{ isExternal ? 'after:bg-link-arrow after:bg-no-repeat after:bg-cover after:content-[\'\'] after:absolute after:right-0 after:h-2.5 after:w-2.5' }}"
                    href="{{ navLink.url }}"
                    target="{{ navLink.target }}"
                    {{ navLink.target == '_blank' ? 'rel="noopener noreferrer"' : '' }}
                  >
                    <span class="relative sm:after:content-[''] sm:after:absolute sm:after:bottom-[-4px] sm:after:left-0 sm:after:w-0 sm:hover:after:w-full sm:after:h-[1px] sm:after:transition-all sm:after:bg-sky-blue">
                      {{ navLink.label }}
                    </span>
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}

  {% if secondaryFooterLinks|length %}
    <div class="p-2 md:p-3 text-body-14 border-b border-gray-600">
      <ul class="flex flex-wrap gap-y-1.5 gap-x-3 md:gap-x-6">
        {% for link in secondaryFooterLinks %}
          {% set navLink = link.genericLink %}

          {% if navLink.label %}
            <li>
              <a
                href="{{ navLink.url }}"
                target="{{ navLink.target }}"
                {{ navLink.target == '_blank' ? 'rel="noopener noreferrer"' : '' }}
              >
                <span class="relative sm:after:content-[''] sm:after:absolute sm:after:bottom-[-4px] sm:after:left-0 sm:after:w-0 sm:hover:after:w-full sm:after:h-[1px] sm:after:transition-all sm:after:bg-sky-blue">
                  {{ navLink.label }}
                </span>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</footer>