{% set footerDescription = footer.footerDescription %}
{% set mainFooterLinks = footer.mainFooterLinks.eagerly().all() %}
{% set secondaryFooterLinks = footer.secondaryFooterLinks.eagerly().all() %}
{% set newsletterHeadline =
  footer.newsletterHeadline|default(newsletter.newsletterHeadline)
%}
{% set newsletterSecondaryText =
  footer.newsletterSecondaryText|default(newsletter.newsletterSecondaryText)
%}
{% set sponsorsHeadline = footer.sponsorsHeadline %}
{% set sponsorsLight = footer.sponsorsLight.eagerly().all() %}
{% set sponsorsDark = footer.sponsorsDark.eagerly().all() %}

<footer class="mt-[60px] bg-gray-100 md:mt-18 dark:bg-gray-900">
  <div
    class="border-gray border-t border-b md:grid md:grid-cols-3 dark:border-gray-500"
  >
    <div
      class="border-gray px-2 pt-5 pb-2.5 md:border-r md:px-3 md:pb-3 last:md:border-r-0 dark:border-gray-500"
    >
      <a class="mb-3 inline-block last:mb-0" href="{{ homepage.url }}">
        <svg
          width="56"
          height="70"
          viewBox="0 0 138 168"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            class="fill-black dark:fill-white"
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M16.089 0H111.973L137.049 46.6227L116.058 83.3858L100.442 97.5827L62.2412 104.659L62.2412 135.172L75.8407 140.81V154.836L59.7517 168H0V153.476L13.5995 142.35V33.2715L0 27.6333V13.1637L16.089 0ZM72.8432 152.627H18.1228V142.813L31.7222 137.174V18.8941L18.1228 13.2559V2.99754H110.182L133.622 46.5793L113.903 81.1144L76.124 89.3631H59.2437L59.2437 137.174L72.8432 142.813V152.627ZM75.9371 15.1752L100.922 27.4067L109.701 46.5396L100.938 62.9006L75.9163 76.4946L59.2437 72.7498V18.999L75.9371 15.1752ZM86.656 67.2485L91.2286 58.8077L83.5184 42.0039L62.2412 31.5876V70.3508L75.4746 73.3232L86.656 67.2485Z"
          />
        </svg>
      </a>

      {% include "_rich-text/simple" with {
        text: footerDescription
      } only %}
    </div>

    <div
      class="border-gray border-t pt-2.5 pb-2.5 md:border-t-0 md:border-r md:pt-5 md:pb-3 last:md:border-r-0 dark:border-gray-500"
    >
      <h4
        class="text-body-16 md:text-body-18 px-2 pb-2 uppercase md:px-3 md:pb-3"
      >
        {{ newsletterHeadline }}
      </h4>

      <div class="mb-2.5 ml-[-1px] md:mr-[-1px]">
        {% include "_modules/newsletter-form" only %}
      </div>

      <div class="dark:text-gray px-2 md:px-3">
        {% include "_rich-text/simple" with {
          text: newsletterSecondaryText,
          size: "small"
        } only %}
      </div>
    </div>

    {% if
      (sponsorsHeadline|length)
        or (sponsorsLight|length)
        or (sponsorsDark|length) %}
      <div
        class="border-gray flex border-t p-2 md:border-t-0 md:border-r md:p-3 last:md:border-r-0 dark:border-gray-500"
      >
        <div class="mt-auto">
          {% if sponsorsHeadline|length %}
            <h4 class="text-body-14 mb-3 last:mb-0">{{ sponsorsHeadline }}</h4>
          {% endif %}

          {% if sponsorsLight|length %}
            <div class="flex flex-wrap gap-x-[44px] gap-y-1.5 dark:hidden">
              {% for sponsor in sponsorsLight %}
                <img src="{{ sponsor.url }}" alt="{{ sponsor.alt }}" />
              {% endfor %}
            </div>
          {% endif %}

          {% if sponsorsDark|length %}
            <div class="hidden flex-wrap gap-x-[44px] gap-y-1.5 dark:flex">
              {% for sponsor in sponsorsDark %}
                <img src="{{ sponsor.url }}" alt="{{ sponsor.alt }}" />
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>

  {% if mainFooterLinks|length %}
    <div
      class="text-body-16 md:text-body-18 border-gray border-b md:grid md:grid-cols-3 dark:border-gray-500"
    >
      {% for linkGroup in mainFooterLinks %}
        {% set links = linkGroup.links %}

        {% if links|length %}
          <ul
            class="border-gray border-t p-2 first:border-t-0 md:border-t-0 md:border-r md:p-3 last:md:border-r-0 dark:border-gray-500"
          >
            {% for link in links %}
              {% set navLink = link.genericLink %}
              {% set isExternal = navLink.type == "url" %}

              {% if navLink.label %}
                <li class="mb-[6px] py-[4px] last:mb-0 md:mb-1 md:py-0">
                  <a
                    class="relative flex after:ml-auto {{
                    isExternal
                      ? "after:bg-link-arrow after:absolute after:right-0 after:h-2.5 after:w-2.5 after:bg-cover after:bg-no-repeat after:content-['']"
                    }}"
                    href="{{ navLink.url }}"
                    target="{{ navLink.target }}"
                    {{
                    navLink.target == "_blank"
                      ? 'rel="noopener noreferrer"'
                      : ""
                    }}
                  >
                    <span
                      class="sm:after:bg-sky-blue relative sm:after:absolute sm:after:bottom-[-4px] sm:after:left-0 sm:after:h-[1px] sm:after:w-0 sm:after:transition-all sm:after:content-[''] sm:hover:after:w-full"
                    >
                      {{ navLink.label }}
                    </span>
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}

  {% if secondaryFooterLinks|length %}
    <div
      class="text-body-14 border-gray border-b p-2 md:p-3 dark:border-gray-500"
    >
      <ul class="flex flex-wrap gap-x-3 gap-y-1.5 md:gap-x-6">
        {% for link in secondaryFooterLinks %}
          {% set navLink = link.genericLink %}

          {% if navLink.label %}
            <li>
              <a
                href="{{ navLink.url }}"
                target="{{ navLink.target }}"
                {{
                navLink.target == "_blank"
                  ? 'rel="noopener noreferrer"'
                  : ""
                }}
              >
                <span
                  class="sm:after:bg-sky-blue relative sm:after:absolute sm:after:bottom-[-4px] sm:after:left-0 sm:after:h-[1px] sm:after:w-0 sm:after:transition-all sm:after:content-[''] sm:hover:after:w-full"
                >
                  {{ navLink.label }}
                </span>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</footer>
