{% set navLinks = navigation.navLinks.all() %}
{% set matchedElement = craft.app.urlManager.matchedElement %}

<main-nav>
  <header
    data-header
    class="relative z-2 bg-white md:z-auto dark:bg-gray-900 [&.menu-open]:fixed [&.menu-open]:h-[100dvh] [&.menu-open]:w-full [&.menu-open]:lg:static [&.menu-open]:lg:h-auto [&.menu-open]:lg:bg-transparent"
  >
    <div
      class="overflow-visible [.menu-open_&]:h-full [.menu-open_&]:max-h-full [.menu-open_&]:lg:h-auto"
    >
      <nav class="flex h-full flex-col overflow-visible">
        <div
          class="border-gray flex h-[60px] items-center border-b p-2 md:h-auto lg:px-3 dark:border-gray-500"
        >
          <a class="block" href="{{ homepage.url }}">
            {% include "_modules/logo" only %}
          </a>

          <button
            data-sandwich
            class="ml-auto flex cursor-pointer items-center md:hidden"
          >
            <span class="sr-only">Toggle menu</span>

            <svg
              class="[.menu-open_&]:hidden"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                class="stroke-black dark:stroke-white"
                d="M8 11H24"
                stroke-width="1.5"
                stroke-linecap="round"
              />
              <path
                class="stroke-black dark:stroke-white"
                d="M8 16H24"
                stroke-width="1.5"
                stroke-linecap="round"
              />
              <path
                class="stroke-black dark:stroke-white"
                d="M8 21H24"
                stroke-width="1.5"
                stroke-linecap="round"
              />
            </svg>

            <svg
              class="hidden [.menu-open_&]:block"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                class="stroke-black dark:stroke-white"
                d="M10.1616 21.6762L21.8378 10M10.1617 10.3238L21.838 22"
                stroke-width="1.5"
                stroke-linecap="round"
              />
            </svg>
          </button>

          <aside class="ml-auto hidden md:flex md:items-center md:gap-2">
            {% include "_modules/display-toggle.twig" %}
            {% include "_modules/lang-switch.twig" %}
            {% include "_modules/search.twig" %}
          </aside>
        </div>

        {% if navLinks|length %}
          <div
            data-links
            class="group hidden overflow-y-auto md:block lg:overflow-visible [.menu-open_&]:block [.menu-open_&]:md:block"
          >
            <ul class="md:border-gray md:flex md:border-b dark:border-gray-500">
              {% for linkGroup in navLinks %}
                {% set links = linkGroup.links %}

                <li
                  class="border-gray border-b last:border-b-0 md:w-1/5 md:border-r md:border-b-0 md:last:border-r-0 dark:border-gray-500"
                >
                  <span
                    class="md:text-body-14 lg:text-body-16 border-gray block cursor-pointer border-b px-3 py-1 text-center text-[15px] uppercase md:border-b-0 md:p-1.5 md:text-left lg:px-3 lg:py-1.5 dark:border-gray-500"
                  >
                    {{ linkGroup.title }}
                  </span>

                  {% if links|length %}
                    <ul class="p-1 md:hidden">
                      {% for link in links %}
                        {% set navLink = link.genericLink %}
                        {% set isExternal = navLink.type == "url" %}

                        <li>
                          <a
                            class="text-body-16 flex px-1 py-0.5 {{
                            isExternal
                              ? "after:ml-auto after:bg-link-arrow after:block after:h-2.5 after:w-2.5 after:bg-cover after:bg-no-repeat after:content-['']"
                              : ""
                            }}"
                            href="{{ navLink.value }}"
                            target="{{ navLink.target }}"
                            rel="{{
                            navLink.target == "_blank"
                              ? "noopener noreferrer"
                              : ""
                            }}"
                          >
                            {{ navLink.label }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>

            <ul
              class="border-gray absolute -z-10 hidden w-full border-b bg-white opacity-0 transition-opacity group-focus-within:z-2 group-focus-within:opacity-100 group-hover:z-2 group-hover:opacity-100 md:flex dark:border-gray-500 dark:bg-gray-900 [.group-menu-open_&]:z-2 [.group-menu-open_&]:opacity-100"
            >
              {% for linkGroup in navLinks %}
                {% set links = linkGroup.links %}

                {% if links|length %}
                  <li
                    class="text-body-16 border-gray w-1/5 border-r p-2 leading-[1] last:border-r-0 dark:border-gray-500"
                  >
                    <ul>
                      {% for link in links %}
                        {% set navLink = link.genericLink %}
                        {% set isExternal = navLink.type == "url" %}
                        {% set isActive = "" %}

                        {% set navLinkHandle =
                          navLink.element.section.handle|default(null)
                        %}

                        {% set matchedElementHandle = matchedElement.section.handle
                          ?? attribute(matchedElement.group ?? {}, "handle")
                          ?? null
                        %}

                        {% set matchedElementUrl =
                          matchedElement.url|default(null)
                        %}

                        {% set sectionMap = {
                          blogIndex: ["blog", "blogCategories"],
                          projectsIndex: [
                            "projects",
                            "projectTechnologies",
                            "projectTopics",
                            "projectLicenses"
                          ],
                          roundsIndex: ["projectRounds"],
                          yearGroupsIndex: ["projectYearGroups"],
                          eventsIndex: ["events", "pastEventsIndex"],
                          trendsIndex: ["trends"]
                        } %}

                        {% if
                          sectionMap[navLinkHandle] is defined
                            and matchedElementHandle
                              in sectionMap[navLinkHandle] %}
                          {% set isActive = "active" %}
                        {% elseif matchedElementUrl == navLink.url %}
                          {% set isActive = "active" %}
                        {% endif %}

                        <li class="mb-[6px] last:mb-0">
                          <a
                            class="group/link relative flex px-1 py-[8px] {{
                            isExternal
                              ? "after:absolute after:bg-link-arrow after:right-0 after:block after:h-2.5 after:w-2.5 after:bg-cover after:bg-no-repeat after:content-['']"
                              : ""
                            }}"
                            href="{{ navLink.value }}"
                            target="{{ navLink.target }}"
                            rel="{{
                            navLink.target == "_blank"
                              ? "noopener noreferrer"
                              : ""
                            }}"
                          >
                            <span
                              class="sm:after:bg-sky-blue relative sm:after:absolute sm:after:bottom-[-4px] sm:after:left-0 sm:after:h-[1px] sm:after:w-0 sm:after:transition-all sm:after:content-[''] sm:group-hover/link:after:w-full {{
                              isActive
                                ? "sm:after:w-full"
                                : ""
                              }}"
                            >
                              {{ navLink.label }}
                            </span>
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        <aside
          class="border-gray hidden items-center justify-end gap-2.5 border-t p-2 md:hidden dark:border-gray-500 [.menu-open_&]:flex [.menu-open_&]:md:hidden"
        >
          {% include "_modules/display-toggle.twig" %}
          {% include "_modules/lang-switch.twig" %}
          {% include "_modules/search.twig" %}
        </aside>
      </nav>
    </div>
  </header>
</main-nav>
