{% set sideLink = sideLink|default(null) %}
{% set count = count|default(null) %}

{% set seeAll %}
  {% if sideLink|length %}
    {% include "_modules/button" with {
      url: sideLink.url,
      text: sideLink.text
    } only %}
  {% endif %}
{% endset %}

<div class="mb-10 px-2 md:px-5">
  <div class="mb-2.5 flex items-center md:mb-5">
    <h4 class="font-surt text-head-22 md:text-head-32 max-w-2/5">
      {{ heading }}{% if count is not empty %}
        <span class="text-rich-blue">[{{ count }}]</span>
      {% endif %}
    </h4>
    {% if sideLink|length %}
      <div class="hidden sm:ml-auto sm:block">
        {{ seeAll }}
      </div>
    {% endif %}
  </div>

  <div>
    {{ content|raw }}
  </div>

  {% if sideLink|length %}
    <div class="flex justify-center sm:hidden">
      {{ seeAll }}
    </div>
  {% endif %}
</div>
