{% set seeAll %}
  {% if entryLink|length %}
    <a class="uppercase font-surt text-ui-16 text-gray-200 border-gray-400 border-l border-r px-[0.63rem] py-[0.3rem] bg-white hover:bg-black hover:text-white transition-colors" href="{{ entryLink.url }}">
      {{ seeAllText }}
    </a>
  {% endif %}
{% endset %}

<div class="mb-10 px-2 md:px-5">
  <div class="flex items-center mb-2.5 md:mb-5">
    <h4 class="font-surt text-head-22 md:text-head-32">
      {{ "More projects like this"|t }}
    </h4>
    {% if blogIndex|length %}
      <div class="hidden sm:block sm:ml-auto">
        {{ seeAll }}
      </div>
    {% endif %}
  </div>

  {{ content|raw }}

  <div class="flex justify-center sm:hidden">
    {{ seeAll }}
  </div>
</div>