{% set pronouns = person.pronouns %}
{% set bio = person.bio %}
{% set role = person.role %}
{% set website = person.website %}
{% set size = size|default("medium") %}

<div class="flex gap-2">
  <h4 class="font-surt text-head-22 md:text-head-38 mb-3 uppercase md:mb-4">
    {{ person.title }}
  </h4>

  {% if pronouns|length %}
    <span class="font-surt text-head-16 md:text-head-22 uppercase">
      {{ pronouns }}
    </span>
  {% endif %}
</div>

{% if (role|length) or (website|length) %}
  <p class="text-head-18 md:text-head-20 mb-3 last:mb-0 md:mb-4">
    {{ role }}{% if (role|length) and (website|length) %}, {% endif %}
    {% if website|length %}
      <a
        class="decoration-sky-blue hover:bg-light-blue underline"
        href="{{ website.url }}"
      >
        {{
          website.url|replace({
            "https://": "",
            "www.": ""
          })
        }}
      </a>
    {% endif %}
  </p>
{% endif %}

{% if bio|length %}
  {% include "_rich-text/simple" with {
    text: bio,
    size: size
  } only %}
{% endif %}
