{% import "_macros" as macros %}

{% set claim = entry.headline %}
{% set dateUpdated = entry.dateUpdated %}
{% set image = entry.mainImage.eagerly().one() %}
{% set projectLinks =
  entry.projectLinks
    |default([])
    |filter(item => item.name is not empty and item.linkURL is not empty)
%}

{% set demoLink =
  projectLinks
    |filter(
      item => item.name in ["Demo Week", "Demo Day", "Demo-Woche", "Demo-Tag"]
    )
    |first
%}

{% set remainingLinks = projectLinks|filter(item => item != demoLink) %}

{% set categories =
  entry.projectRounds.all()
    |merge(entry.projectTopics.all())
    |merge(entry.projectTechnologies.all())
    |merge(entry.projectYearGroups.all())
%}

{% set pattern =
  [
    "after:bg-pattern-br-gray-2 dark:after:bg-pattern-br-dark-gray-2",
    "after:content-['']",
    "after:absolute",
    "after:right-0",
    "after:bottom-0",
    "after:h-full",
    "after:bg-no-repeat",
    "after:bg-contain",
    "after:bg-right-bottom",
    "after:w-[50vw]",
    "after:md:w-[35vw]",
    "after:lg:w-[25vw]"
  ]|join(" ")
%}

<header
  class="{{
  pattern
  }} relative border-b border-gray-600 px-2 pt-2.5 pb-5 md:grid md:grid-cols-12 md:px-5 md:py-[60px] lg:grid-cols-16"
>
  <div class="relative z-1 mb-10 md:col-span-6 md:mb-0 lg:col-span-10">
    {% if macros.inFunding(entry)|boolean %}
      <div class="mb-1 md:mb-2">
        {% include "_modules/pill" with {
          entry: entry
        } only %}
      </div>
    {% endif %}

    <h1
      class="font-surt text-head-22 md:text-head-38 mb-2.5 break-words uppercase last:mb-0 md:mb-3"
    >
      <span class="text-rich-blue dark:text-sky-blue">{{ entry.title }}</span>{% if
        claim|length %}
        : {{ claim }}
      {% endif %}
    </h1>

    {% if categories|length %}
      <div class="mb-2.5 md:mb-3">
        {% include "_modules/categories-list" with {
          categories,
          size: "large"
        } only %}
      </div>
    {% endif %}

    <time
      class="text-ui-13 md:text-ui-14 mb-4 block md:mb-5"
      datetime="{{ dateUpdated|date("Y-m-d") }}"
    >
      {{ "Last updated"|t }}: {{ dateUpdated|date("short") }}
    </time>

    {% if remainingLinks|length %}
      <div class="mb-5 max-w-64 last:mb-0">
        {% include "_modules/button-links" with {
          links: remainingLinks|map(
            link => {
              label: link.name,
              url: link.linkURL,
              target: "_blank"
            }
          ),
          layout: "grid"
        } only %}
      </div>
    {% endif %}

    {% if demoLink|length %}
      <div class="mb-6">
        {% include "_modules/button" with {
          text: ("See #{demoLink.name}")|t,
          url: demoLink.linkURL,
          target: "_blank",
          icon: "arrow",
          iconAlignment: "right"
        } only %}
      </div>
    {% endif %}
  </div>

  {% if image|length %}
    <div
      class="relative z-1 ml-auto w-[223px] md:col-span-5 md:col-start-8 md:w-auto lg:col-span-4 lg:col-start-13"
    >
      <div
        class="flex aspect-square items-center justify-center bg-gray-100 p-[20px]"
      >
        <div class="w-full mix-blend-multiply">
          <img
            class="h-full w-full object-contain"
            src="{{ image.url }}"
            alt="{{ image.alt }}"
          />
        </div>
      </div>
    </div>
  {% endif %}
</header>
