{% set subheadline = subheadline|default(null) %}
{% set intro = intro|default(null) %}
{% set secondaryText = secondaryText|default(null) %}
{% set content = content|default(null) %}
{% set link = link|default(null) %}
{% set background = background|default("greyBackgroundBluePattern") %}
{% set alignment = alignment|default("left") %}

{% set leftPatternPositions = [
  'after:top-0',
  'after:bg-right-top',
  'after:w-[calc(15vw+16px)]',
  'after:md:w-[calc(12vw+40px)]',
  'after:lg:w-[calc(8vw+40px)]'
  ]|join(' ')
%}

{% set centerPatternPositions = [
  'after:bottom-0',
  'after:bg-right-bottom',
  'after:w-[calc(18vw+16px)]',
  'after:md:w-[calc(18vw+40px)]',
  'after:lg:w-[calc(13vw+40px)]',
  'before:top-0',
  'before:bg-top-left',
  'before:w-[calc(18vw+16px)]',
  'before:md:w-[calc(18vw+40px)]',
  'before:lg:w-[calc(13vw+40px)]'
]|join(' ') %}

{% set patternStyles = {
  skyBlue: {
    left: "after:bg-pattern-tr-sky-blue #{leftPatternPositions}",
    center: "after:bg-pattern-br-sky-blue before:bg-pattern-tl-sky-blue #{centerPatternPositions}"
  },
  hotPink: {
    left: "after:bg-pattern-tr-hot-pink #{leftPatternPositions}",
    center: "after:bg-pattern-br-hot-pink before:bg-pattern-tl-hot-pink #{centerPatternPositions}"
  },
  lightBlue: {
    left: "after:bg-pattern-tr-light-blue #{leftPatternPositions}",
    center: "after:bg-pattern-br-light-blue before:bg-pattern-tl-light-blue #{centerPatternPositions}"
  },
  gray: {
    left: "after:bg-pattern-tr-gray #{leftPatternPositions}",
    center: "after:bg-pattern-br-gray-4 before:bg-pattern-tl-gray #{centerPatternPositions}"
  },
} %}

{% set backgroundConfigs = {
  greyBackgroundBluePattern: {
    pattern: 'skyBlue',
    bgColor: 'bg-gray-100 border-gray-600 border-b',
    buttonColor: 'dark'
  },
  greyBackgroundPinkPattern: {
    pattern: 'hotPink',
    bgColor: 'bg-gray-100 border-gray-600 border-b',
    buttonColor: 'dark'
  },
  greyBackgroundGreyPattern: {
    pattern: 'gray',
    bgColor: 'bg-gray-100 border-gray-600 border-b',
    buttonColor: 'dark'
  },
  skyBlueBackgroundLightBluePattern: {
    pattern: 'lightBlue',
    bgColor: 'bg-sky-blue',
    buttonColor: 'dark'
  },
  richBlueBackgroundPinkPattern: {
    pattern: 'hotPink',
    bgColor: 'bg-rich-blue text-white',
    buttonColor: 'light'
  },
  darkMagentaBackgroundBluePattern: {
    pattern: 'skyBlue',
    bgColor: 'bg-dark-magenta text-white',
    buttonColor: 'light'
  },
  navyBlueBackgroundPinkPattern: {
    pattern: 'hotPink',
    bgColor: 'bg-navy-blue text-white',
    buttonColor: 'light'
  }
} %}

{% set defaultBackground = 'greyBackgroundBluePattern' %}
{% set config = backgroundConfigs[background] ?? backgroundConfigs[defaultBackground] %}

{% set patternClasses = patternStyles[config.pattern][alignment] %}
{% set headerClass = "#{patternClasses} #{config.bgColor}" %}

<header class="{{ headerClass }} {{ alignment == "left" ? "lg:py-[130px]" : "lg:py-[100px]" }} px-2 md:px-5 py-10 relative text-gray-900 before:content-[''] before:absolute before:left-0 before:h-full before:bg-no-repeat before:bg-contain after:content-[''] after:absolute after:right-0 after:h-full after:bg-no-repeat after:bg-contain">
  <div class="{{ alignment == "left" ? "grid grid-cols-12 lg:grid-cols-16" : "text-center" }}">
    <div class="{{ alignment == "left" ? "col-span-11 lg:col-span-7 xl:col-span-8 mb-3 lg:mb-0 md:pr-3 pr-0" : "mb-3 lg:mb-5" }} relative z-1">
      <h1 class="font-surt text-head-28 md:text-head-46 uppercase">{{ headline }}</h1>

      {% if subheadline %}
        <div class="mt-5 md:mt-[60px]">
          {{ subheadline }}
        </div>
      {% endif %}
    </div>

    {% if intro|length
      or content|length
      or secondaryText|length
      or link|length
    %}
      <div class="{{ alignment == "left" ? "col-span-11 lg:col-span-7 xl:col-start-9 xl:col-span-5" : "m-auto" }} max-w-64 relative z-1">
        {% if intro|length %}
          <div class="mb-5 last:mb-0">
            {% include "_rich-text/simple" with {
              text: intro,
              size: "large"
            } only %}
          </div>
        {% endif %}

        {% if content|length %}
          <div class="mb-5 last:mb-0">
            {% include "_modules/newsletter-form" only %}

            <div class="{{ background in ["greyBackgroundBluePattern", "greyBackgroundPinkPattern", "greyBackgroundGreyPattern", "skyBlueBackgroundLightBluePattern"] ? "text-gray-800" : "text-white" }}">
              {% include "_rich-text/simple" with {
                text: newsletter.newsletterSecondaryText,
                size: "small"
              } only %}
            </div>
          </div>
        {% endif %}

        {% if secondaryText|length %}
          <p class="{{ background in ["greyBackgroundBluePattern", "greyBackgroundPinkPattern", "greyBackgroundGreyPattern", "skyBlueBackgroundLightBluePattern"] ? "text-gray-800" : "text-white" }} md:mb-1.5 text-body-16 md:text-body-18">{{ secondaryText }}</p>
        {% endif %}

        {% if link|length %}
          {% include "_modules/button-generic-link" with {
            link: link,
            icon: false,
            color: config.buttonColor
          } only %}
        {% endif %}
      </div>
    {% endif %}
  </div>
</header>